#pot {
    background: grey;
    position: absolute;
    border-radius: 50%;
    visibility: hidden;
    z-index: 3;
}
#loading {
    display: none;
    z-index: 2;
    width: 14px;
    height: 14px;
    position: fixed;
    right: 10px;
    top: 10px;
    background: grey;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-animation:loading 2s ease-out forwards infinite;
    -moz-animation:loading 2s ease-out forwards infinite;
}
@-webkit-keyframes loading {
  0% { -webkit-transform:scale(0.3); }
  50% { -webkit-transform:scale(1.0); }
  100% { -webkit-transform:scale(0.3); }
}
@-moz-keyframes loading {
  0% { -moz-transform:scale(0.3); }
  50% { -moz-transform:scale(1.0); }
  100% { -moz-transform:scale(0.3); }
}

.post404 img {
    margin-top: 8%;
    margin-left: 10%;
    vertical-align: top;
    display: inline-block;
}
.post404 > div {
    margin-left: 1%;
    margin-top: 8%;
    vertical-align: top;
    display: inline-block;
}
.post404 h2 {
    font-size: 20px;
    color: #333;
}
.post404 p {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}
.post404 a {
    color: #222;
}
.post ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}
.post li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    position: relative;
}
.post li.imgs div {
    width:100%;
    height: 100%;
    position: relative;
    text-align: center;
}
.post li.imgs div:before, .post li.imgs div:after {
    content: '';
    width: 1%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
} 
.post li.imgs img {
    vertical-align: middle;
    display: inline-block;
    max-width: 98%;
    position: relative;
    z-index: 3;
    max-height: 70%;
    width: auto;
}
.post li.imgs:before {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background: rgba(0,0,0,.5);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
} 
.post li.imgs:after {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(255,255,255,.3);
    border-top: 2px solid rgba(255,255,255,.9);
    border-left: 2px solid rgba(255,255,255,.9);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-animation: rotate 1s infinite linear;
    -moz-animation: rotate linear 1s;
    -moz-animation-iteration-count: infinite;
}
.info {
    width: 70%;
    height: 40%;
    position: relative;
    left: 10%;
    top: 35%;
}
.info h2 {
    text-transform: uppercase;
    font-size: 36px;
}
.info p {
    opacity: .8;
    font-size: 16px;
    margin-top: 30px;
}
.info a {
    font-weight: 700;
    color: inherit;
    margin-top: 30px;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    letter-spacing: .5px;
}
.dots {
    position: absolute;
    width: 100%;
    bottom: 7%;
    text-align: center;
    z-index: 4;
}
.dots span {
    display: inline-block;
    margin: 0 5px; 
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    opacity: .5;
}
.dots span.active {
    opacity: .9;
}

header {
    position: absolute;
    top: 7%;
    width: 80%;
    margin: 0 10%;
    z-index: 5;
    font-size: 16px;
}
.icon-logo {
    color: rgba(0, 0, 0, .7); 
    font-size: 20px;
}
.icon-share {
    color: rgba(0, 0, 0, .7); 
    position: absolute;
    right: 0;
    top: 2px;
}

footer {
    position: absolute;
    width: 80%;
    margin: 0 10%;
    bottom: 2%;
    font-size: 12px;
    z-index: 5;
    text-transform: uppercase;
    opacity: .7;
    color: rgba(0,0,0,.7);
}

@media screen and (max-width: 600px) {
    header {
        margin: 0 7%;
        top: 5%;
        width: 86%;
    }
    header a {
        padding: 3px 0;
    }
    .info {
        top: 23%;
        width: 86%;
        left: 7%;
    }
    .info h2 {
        font-size: 20px;
    }
    .info p {
        font-size: 14px;
        margin-top: 17px;
    }
    .info a {
        margin-top: 16px;
    }

    footer {
        width: 86%;
        margin: 0 7%;
    }
    footer span {
        display: none;
    }
}
