@charset "utf-8";

/* reset */
body, div, h1, h2, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul {
    list-style: none;
}
a, a:hover {
    text-decoration: none;
}
img, button, input {
    border: 0;
}
button:focus, input:focus, textarea:focus {
    outline: none;
}
header, footer, section, figure {
	display: block;
	margin: 0;
	padding: 0;
}
img {
    display: block;
}
html, body {
    background: #fff;
    height: 100%;
    font-size: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
}
body {
    overflow: hidden;
}

/* class */
.hide {
    display: none;
}
.db {
    display: block;
}
.dib {
    display: inline-block;
}

/* define */
section {
    height: 100%;
    position: relative;
    overflow: hidden;
    background: grey;
}
